@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    border: none;
    outline: none;
}

:root{
    --background-color: #1B1D28;
    --card-color: #222533;
    --words-color: #E5E5E5;
    --btn1-color: #1A1C29;
    --btn2-color: #7132C1;
    --circle-color: #7D8193;
}
body{
    background: var(--background-color);
}

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    padding: 0 0 50px 0;
}

.cards2-c{
    min-height: 450px;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 50px;
}

.card1{
    padding: 20px 25px;
    min-width: 270px;
    background: var(--card-color);
    border-radius: 10px;
}

.profile{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.profile>img{
    width: 56px;
    height: 56px;
}

.words-c>h3{
    font-weight: 400;
    font-size: 18px;
}

.words-c>p{
    color: #7D8193;
}
.card1>.btn1{
    background: var(--btn1-color);
    padding: 16px;
    width: 100%;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 25px;
    cursor: pointer;
}

ul>li{
    margin-bottom: 14px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}

.selection{
    display: flex;
    align-items: center;
    gap: 10px;
}

.card2{
    padding: 40px 30px;
    background: var(--card-color);
    border-radius: 10px;
}

.card2>h2{
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 20px;
}

.img-c{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;
}

.img-c>img{
    width: 98px;
    height: 98px;
    cursor: pointer;
}

.img-c>button{
    background: var(--btn1-color);
    padding: 16px 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.card2>input{
    background: var(--background-color);
    width: 100%;
    padding: 20px 0 20px 26px;
    border-radius: 3px;
    border: 1px solid var(--circle-color);
    margin-bottom: 30px;
}

.alternative{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.alternative>img{
    width: 40px;
    cursor: pointer;
}

.card2 .define{
    line-height: 26px;
    margin-bottom: 30px;
}

.card2 .btn2{
    width: 100%;
    background: var(--btn2-color);
    padding: 16px 0;
    border-radius: 5px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.6px;
    transition: 0.2s;
    border: 1px solid var(--btn2-color);
    cursor: pointer;
}

.card2 .btn2:hover{
    background: transparent;
    border: 1px solid var(--circle-color);
}

.cookie{
    position: relative;
    width: 400px;
    background: var(--card-color);
    padding: 50px 60px 40px 50px;
    border-radius: 10px;
    margin-left: 40%;
}

.cookie>h2{
    margin-bottom: 15px;
    font-weight: 700px;
    font-size: 24px;
}

.cookie>p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
}

.cookie>button{
    background: var(--btn2-color);
    padding: 14px 38px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid var(--btn2-color);
    transition: 0.2s;
    cursor: pointer;
}

.cookie button:hover{
    background: transparent;
    border: 1px solid var(--circle-color);
}

.cookie>img{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}